.header {
  position: fixed;
  width: 100%;
  @media (min-width: 500px) {
    width: calc(100% - 100px);
    margin-left: 50px;
  }
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  top: 0;
  padding: 10px 20px;
  background-color: #000000;
  border-bottom: solid 1px #ffffff;
  @include table {
    padding: 15px 30px;
  }
  @include desktop {
    padding: 20px 40px;
  }
}

.header-logo {
  width: 80px;
  @include table {
    width: 120px;
  }
  @include desktop {
    width: 160px;
  }
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  align-items: center;
  justify-content: right;
  margin-left: 20px;
  gap: 0px 5px;
  @include table {
    gap: 10px;
  }
}

.header-link {
  font-weight: 400;
  font-size: 8px;
  line-height: calc(12 / 8);
  color: #ffffff;
  border-right: 1px solid #7c7878;
  padding-right: 5px;
  @include table {
    font-size: 12px;
    line-height: calc(16 / 12);
    border-right: 1px solid #7c7878;
    padding-right: 10px;
  }
  @include desktop {
    font-size: 24px;
    line-height: calc(29 / 24);
    border-right: 1px solid #7c7878;
    padding-right: 10px;
  }
  &:hover,
  &:focus {
    color: antiquewhite;
  }
}

.header-link span {
  transition: color 0.5s ease 0s;
  display: block;
}

.header-link-last {
  border-right: none;
}

.menu-item {
  position: relative;
  overflow: hidden;

}

.menu-item._active {
  color: #ffffff;
}

.menu__active {
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 8px;
  width: 100%;
  &_span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
    border-radius: 5px 0px 0 px 5px;

    height: 50px;
    background-color: #ffffff;
  }
}

.menu {
  border: 1px solid transparent;
  box-shadow: insert 0px 0px 15px 0px transparent;
}

.loaded .menu {
  border: 1px solid rgb(255, 255, 255, 0.05);
  box-shadow: insert 0px 0px 15px 0px rgb(0, 0, 0, 0.25);
  transition: all 1s ease 1.5s;
}

.header-link {
  transform: translate(-100%, 0px);
}
.loaded .header-link {
  transform: translate(0px, 0px);
  transition: transform 1s ease;
}

.loaded .menu-item:nth-child(1) .header-link {
  transition-delay: 0.2s;
}

.loaded .menu-item:nth-child(2) .header-link {
  transition-delay: 0.4s;
}

.loaded .menu-item:nth-child(3) .header-link {
  transition-delay: 0.6s;
}
.loaded .menu-item:nth-child(4) .header-link {
  transition-delay: 0.8s;
}

.menu__active {
  transform: translate(-100%, 0px);
}

.loaded .menu__active {
  transform: translate(0, 0px);
  transition: transform 0.5s ease 2s;
}