.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #000000;
  border-bottom: 1px solid #ffffff;
  animation: showHeader 800ms ease-in-out forwards;
  z-index: 9999;
}

@keyframes showHeader {
  0% {
    top: -200px;
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    position: fixed;
    opacity: 1;
  }
}

.header-box {
  @media (max-width: 351px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    opacity: 0;
    top: 0;
    padding: 10px 10px;
    animation: showLogo 900ms ease-in-out 800ms forwards;
  }

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  opacity: 0;
  top: 0;
  padding: 10px 20px;
  animation: showLogo 900ms ease-in-out 800ms forwards;

  @include table {
    padding: 15px 30px;
  }

  @include desktop {
    padding: 20px 40px;

    @keyframes showLogo {
      0% {
        gap: 150px;
        opacity: 0;
      }

      100% {
        gap: 0;
        opacity: 1;
      }
    }
  }
}

.header-logo {
  @media (max-width: 351px) {
    width: 65px;
  }

  width: 80px;

  @include table {
    width: 120px;

    @include desktop {
      width: 160px;
    }
  }
}



.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  align-items: center;
  justify-content: right;
  text-align: center;
  gap: 0px 5px;

  @include table {
    gap: 10px;
  }
}

.header-link {
  position: relative;
  display: flex;
  font-weight: 400;
  font-size: 8px;
  line-height: calc(12 / 8);
  color: #ffffff;
  padding-left: 5px;
  padding-bottom: 5px;

  @include table {
    font-size: 18px;
    line-height: calc(16 / 12);
    padding-left: 10px;
    padding-bottom: 10px;
  }

  @include desktop {
    font-size: 26px;
    line-height: calc(29 / 24);
    padding-bottom: 15px;
  }

  & span {
    transition: color 0.5s ease 0s;
    display: block;
  }

  &:hover,
  &:focus {
    color: #faebd7;
    text-shadow: 0px 0px 20px #e9e6e2,
      0px 0px 30px #e9e6e2,
      0px 0px 40px #e9e6e2;
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: rgb(163, 144, 119);
    bottom: 0;
    left: 50%;
    width: 0%;
    transition: all 0.5s;
    margin-left: 5px;
  }

  @include table {
    margin-left: 15px;
  }

  @include desktop {
    margin-left: 20px;
  }

  &:hover::after {
    left: 0%;
    width: calc(100% - 5px);
  }

  @include table {
    width: calc(100% - 10px);
  }

  @include desktop {
    width: calc(100% - 15px);
  }
}

.link-last {
  justify-content: center;
  align-content: center;
  border-right: none;
}

.border::before {
  position: absolute;
  content: "";
  left: -1px;
  bottom: 40%;
  height: 8px;
  border-right: 1px solid #485348;

  @include table {
    left: -5px;
    height: 12px;
    border-width: 2px;
  }

  @include desktop {
    left: -10px;
    height: 24px;
  }
}