.scrolltop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(157, 210, 25, 0.3);
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.5s ease;

    @include table {
        bottom: 15px;
        right: 15px;
        padding-top: 2px;
    }

    @include desktop {
        bottom: 20px;
        right: 20px;
    }

    &:hover {
        background-color: rgba(158, 210, 25, 0.485);
    }

    &:active {
        transform: scale(0.95);
    }
}

.top_btn {
    text-decoration: none;
    cursor: pointer;
    padding: 10px;

    &:hover>.bi {
        color: #320404;
    }

    @include table {
        padding: 15px;
    }

    @include desktop {
        padding: 20px;
    }
}


.bi {
    color: #ffffff;
    fill: currentColor;
    width: 10px;
    height: 10px;

    @include table {
        width: 20px;
        height: 20px;
    }

    @include desktop {
        width: 30px;
        height: 30px;
    }


}